<div class="search-form">
    <form id="artist-adder">
        <input type="text" name="artist" value="" placeholder="Type in an Artist name to add ...">
        <input type="submit" name="submit" id='submit' value="Add Artist!" onclick="getArtist();">
    </form>
</div>
<div class="search-form">
    <form id="song-adder">
        <input type="text" name="song" value="" placeholder="Type in an Song to add ...">
        <input type="submit" name="submit" id='submit' value="Add Song!" onclick="getSong();">
    </form>
</div>
