<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/main.css" media="screen">
        <title>Tunr</title>
    </head>
    <body>
        <header>
            <h1 class="header-text">Tunr: Music for Jamming Out</h1>
            <nav class="navigation">
                <a class='nav-item' href="/">Home</a>
                <a class='nav-item' href="/artists">Artists</a>
                <a class='nav-item' href="/songs">Songs</a>
            </nav>
        </header>
        <main>
            {{{body}}}
        </main>
        <br>
        <footer class="footer-text">Copyright 2016 | Salkin.io
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src='/main.js'></script>
    </body>
</html>
