<div class="row">
    <form class="" action="/artists/edit" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <div class="artist">
            <h3>Add a description for {{name}}</h3>
            <textarea type="text" name="description" value="" rows="8" cols="40">{{desc}}</textarea>
            <br>
            <input type="submit" name="submit" value="Add desciption" style="width: 20%;vertical-align:top;">
        </div>
    </form>
</div>
